In [23]:
s=set([15,1,2,3,4,3,1,1])
print(s)

{1, 2, 3, 4, 15}

In [8]:
s2={11,5,6}

In [3]:
print(s2)

{11, 5, 6}

In [4]:
print(type(s2))

<class 'set'>

In [5]:
s2.add(50)

In [6]:
s2

{5, 6, 11, 50}

In [7]:
s.union(s2)

{1, 2, 3, 4, 5, 6, 11, 15, 50}

In [10]:
s | s2

{1, 2, 3, 4, 5, 6, 11, 15}

In [22]:
s

set()

In [12]:
s2

{5, 6, 11}

In [15]:
s2.add(1)

In [16]:
s & s2

{1}

In [17]:
s.intersection(s2)

{1}

In [18]:
s-s2

{2, 3, 4, 15}

In [19]:
s.difference(s2)

{2, 3, 4, 15}

In [20]:
s.clear()

In [21]:
s

set()

In [29]:
if 4 in s:
    print("yes")
else:
    print("no")

yes

In [30]:
s^s2

{2, 3, 4, 5, 6, 11, 15}

In [31]:
a1={1,2,3,4}
a2={2,3,4,5,6}
print(a1^a2)

{1, 5, 6}